__pycache__/
venv/

data/saved_logs/excel_history/*
data/saved_logs/pickle_history/*
data/saved_logs/df_logs.xlsx
data/saved_logs/df_logs.pickle
data/saved_model/*

source/test/
source/capture.jpg
source/off_fence.jpg
source/off_fence.temp.jpg
source/off_track.jpg
source/off_track.temp.jpg

main.ipynb
test.ipynb

